.character-img {
  width: 15rem;
}

p {
  text-shadow: 0 0 10px var(--blur-color),0 0 20px var(--blur-color);
  color: var(--main-color);
  margin: 1rem;
  font-size: 1.3rem;
  font-family: "Berlin Sans FB";
}

button {
  background-color: white;
  border: 0;
  padding: 0;
  margin: 0;
}



:host {
  ::ng-deep {
    .ng-star-inserted {
      background-color: var(--back-color);
    }
    .p-carousel-items-content {
      width: 45rem;
    }
    .p-carousel-item {
      width: 15rem;
      margin: 0;
    }
    .p-carousel-indicators .p-carousel-indicator.p-highlight button {
      background-color: var(--main-color);
    }
  }
}
