.character-img {
  width: 15rem;
}

p {
  margin: 1rem;
  font-size: 1.3rem;
  font-family: "Berlin Sans FB";
}

button {
  background-color: white;
  border: 0;
  padding: 0;
  margin: 0;
}

:host ::ng-deep .p-carousel-items-content {
  width: 45rem;
}

:host ::ng-deep .p-carousel-item {
  width: 15rem;
  margin: 0;
}

:host ::ng-deep .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: black;
}
